<p id="notice"><%= notice %></p>

<h1>Resources</h1>

<table>
  <thead>
    <tr>
	  <th>Score</th>
      <th>Name</th>
      <th>Description</th>
      <th>Link</th>
	  <th>Category</th>
	  <th>Owner</th>
	  <th>Last Modified</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resources.each do |resource| %>
      <tr>
		<td>
	      <%= button_to "+", like_path(resource), remote: true, id: "resourceLike-#{resource.id}"%>
	      <p id="resourceScore-<%= resource.id %>"><%= resource.score %></p>
	      <%= button_to "-", dislike_path(resource), remote: true, id: "resourceDislike-#{resource.id}" %>
	    </td>
        <td><%= resource.name %></td>
        <td><%= resource.description %></td>
		<td>
			<% unless resource.link == nil || resource.link.empty? %>
				<a href="<%= resource.link %>" target="_blank">Open Link</a>
			<% end %>	
		</td>
        <td><%= Category.find(resource.category_id).name %></td>
		<td><%= User.find(resource.user_id).name %></td>
		<td><%= resource.last_modified %></td>
        <td><%= link_to 'Show', resource %></td>
        <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
        <td><%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
