
<h1>Resource Details</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @resource.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @resource.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= Category.find(@resource.category_id).name %>
</p>

<% unless @resource.link.empty? %>
<p>
  <strong>Link:</strong>
  <a href="<%= @resource.link %>" target="_blank">Open Link</a>
</p>
<% end %>

<p>
  <strong>Last modified:</strong>
  <%= @resource.last_modified %>
</p>

<p>
  <strong>Owner:</strong>
  <%= User.find(@resource.user_id).name %>
</p>

<p>
  <strong>Score:</strong>
  <%= @resource.score %>
</p>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
